body {
  font-family: Sen, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background-color: #000;
}
a {
  color: inherit;
}
._wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

/* --------- General ----------------------------------------------- */

.title {
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 1.5;
  color: #8491a0;
  text-transform: uppercase;
}
.subtitle {
  font-size: 55px;
  font-weight: 700;
}
.description {
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
}
@media screen and (max-width: 767px) {
  .subtitle {
    font-size: 32px;
  }
}

/* Colors for <span> in expirience section */
.green {
  color: #3cc74e;
}
.blue {
  color: #609bff;
}
.pink {
  color: #e95d90;
}

/* Link with the line like "More about me" in philosophy */
.link-with-line,
.link-with-line_white {
  color: #181823;
  line-height: 1.5;
  position: relative;
  font-size: 18px;
  padding-bottom: 4px;
}
.link-with-line_white {
  color: inherit;
}
.link-with-line::before,
.link-with-line_white::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #8491a0;
  transition: transform 0.3s linear;
}
.link-with-line:hover::before,
.link-with-line_white:hover::before {
  transform: scale(0.8);
  height: 2px;
}

/* Color section */
.color-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.color-section__content {
  padding: 120px 70px;
}
.color-section__title {
  color: #181823;
  margin-bottom: 24px;
}
.color-section__desc {
  color: #5b6876;
  margin-bottom: 130px;
}
.color-section__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1439px) {
  .color-section__content {
    padding: 80px 40px;
  }
}
@media screen and (max-width: 767px) {
  .color-section__content {
    padding: 50px 20px;
  }
  .color-section {
    grid-template-columns: 1fr;
  }
  .color-section__text {
    margin-bottom: 70px;
  }
}

/* First in "My projects" */
.button {
  color: inherit;
  font-size: 18px;
  line-height: 1.5;
  border: 1px solid #5221e6;
  text-transform: uppercase;
  background-color: inherit;
  cursor: pointer;
}

/* --------------- HEADER --------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
  padding: 0 72px;
  max-width: 1296px;
}
.header__list {
  display: flex;
}
.header__item {
  padding: 32px 24px;
  font-size: 16px;
  line-height: 150%;
}
.header__link {
  color: inherit;
}
.header__link:hover {
  text-decoration: underline;
}
.header__button {
  display: none;
}
@media screen and (max-width: 1439px) {
  .header__container {
    padding: 0 40px;
    min-height: 88px;
  }
  .header__nav {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .header__container {
    padding: 24px 20px;
    min-height: 0;
  }
  .header__nav {
    display: none;
  }
}

/* --------------- HERO --------------- */

.hero {
  padding: 166px 40px 84px 0px;
  position: relative;
}
.hero__container {
  display: flex;
  align-items: center;
}
.hero__image-container {
  flex: 0 1 56%;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 38%;
  background-color: #181823;
}
.hero__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  width: 750px;
  height: 650px;
}
.hero__content {
  position: relative;
  margin: 0 0 0 -88px;
  flex: 0 1 56%;
  z-index: 2;
}
.hero__title {
  font-size: 78px;
  font-weight: 700;
}
.hero__title span {
  color: rgba(255, 255, 255, 0.5);
}
.hero__title:not(:last-child) {
  margin: 0 0 32px 0;
}
.hero__subtitle {
  font-size: 18px;
  line-height: 150%;
}
@media screen and (max-width: 1439px) {
  .hero {
    padding: 88px 0 66px 0;
  }
  .hero__title {
    font-size: 56px;
  }
  .hero::after {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    padding-top: 72px;
  }
  .hero__container {
    flex-direction: column;
  }
  .hero__image-container {
    flex: 0 1 100%;
  }
  .hero__image {
    object-fit: cover;
    width: 768px;
    height: auto;
  }
  .hero__content {
    flex: 0 1 100%;
    padding: 48px 20px;
    margin: 0;
  }
  .hero__title {
    font-size: 32px;
    margin: 0 0 16px 0;
  }
}

/* --------------- EXPIRIENCE --------------- */

.expirience__container {
  padding: 120px 72px;
}
.expirience__top {
  margin-bottom: 40px;
}
.expirience__subtitle {
  max-width: 690px;
}
.expirience__list {
  display: flex;
  column-gap: 100px;
}
.item-expirience {
  flex: 0 1 33.333%;
}
.item-expirience__number {
  color: #8491a0;
  font-size: 117px;
}
.item-expirience__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 22px;
}
.item-expirience__text {
  max-width: 360px;
  line-height: 1.5;
  color: #8491a0;
}
@media screen and (max-width: 1439px) {
  .expirience__container {
    padding: 50px 40px 80px;
  }
}
@media screen and (max-width: 767px) {
  .expirience__container {
    padding: 48px 20px;
  }
  .expirience__list {
    flex-direction: column;
    row-gap: 40px;
  }
  .item-expirience {
    flex: 0 1 100%;
  }
  .item-expirience__text {
    max-width: none;
  }
}
/* --------------- PHILOSOPHY / Color section --------------- */

.philosophy {
  background-color: #fff3e4;
  color: #181823;
}

/* --------------- SKILLSET --------------- */

.skillset__container {
  padding: 120px 120px 120px 72px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 72px;
}
.skillset__text-title {
  margin-bottom: 24px;
}
.skillset__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 72px;
  row-gap: 48px;
}
.skill-card__img {
  margin-bottom: 24px;
}
.skill-card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 12px;
}
.skill-card__text {
  line-height: 1.5;
  color: #8491a0;
  max-width: 368px;
}
@media screen and (max-width: 1439px) {
  .skillset__container {
    padding: 78px 40px;
  }
}
@media screen and (max-width: 1023px) {
  .skillset__container {
    grid-template-columns: 1fr;
    row-gap: 48px;
  }
}
@media screen and (max-width: 767px) {
  .skillset__container {
    padding: 78px 20px;
  }
  .skillset__items {
    grid-template-columns: 1fr;
  }
  .skill-card__text {
    line-height: 1.5;
    color: #8491a0;
    max-width: none;
  }
}

/* --------------- COMPANIES --------------- */

.companies__container {
  padding: 0 72px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.companies__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 140px;
  border: 1px solid #181823;
}
@media screen and (max-width: 1439px) {
  .companies__container {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

/* --------------- PROJECTS --------------- */

.projects__container {
  padding: 120px 72px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.project__col {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.projects__header {
  margin-bottom: 50px;
}
.card-projects {
  transition: transform 0.3s;
}
.card-projects:hover {
  transform: scale(0.99);
}
.card-projects__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-projects__text {
  padding: 40px 32px;
  background-color: #181823;
}
.card-projects__title {
  margin-bottom: 13px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}
.projects__btn {
  padding: 24px 32px;
  margin: auto;
  transition: transform 0.3s;
}
.projects__btn:hover {
  transform: scale(0.99);
  background-color: #181823;
}
@media screen and (max-width: 1439px) {
  .projects__container {
    padding: 80px 40px;
  }
}
@media screen and (max-width: 767px) {
  .projects__container {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
  }
  .projects__header {
    margin-bottom: 25px;
  }
}

/* --------------- INSTAGRAM / Color section --------------- */

.instagram {
  background-color: #fbe4ff;
  color: #181823;
}

/* --------------- DRIBBBLE --------------- */

.dribbble__container {
  padding: 120px 182px;
}
.dribbble__text {
  margin-bottom: 120px;
}
.dribbble__title {
  margin-bottom: 24px;
}
.dribbble__subtitle {
  margin-bottom: 40px;
  max-width: 636px;
}
.dribbble__image img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1439px) {
  .dribbble__container {
    padding: 100px 60px;
  }
}
@media screen and (max-width: 1024px) {
  .dribbble__container {
    padding: 80px 40px;
  }
}
@media screen and (max-width: 767px) {
  .dribbble__container {
    padding: 60px 20px;
  }
}

/* --------------- FEEDBACK --------------- */

.feedback__container {
  padding: 120px 72px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.feedback__col:not(:last-child) {
  margin-bottom: 68px;
}
.feedback__title {
  margin-bottom: 24px;
}
.feedback__desc:not(:last-child) {
  margin-bottom: 40px;
}
.card-feedback:not(:last-child) {
  margin-bottom: 100px;
}
.card-feedback__image img {
  object-fit: cover;
  display: block;
  width: 100%;
  min-height: 360px;
}
.card-feedback__content {
  padding: 64px;
  border: 1px solid #5b6876;
  border-top: none;
}
.card-feedback__top {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 64px;
}
.card-feedback__bottom {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #5b6876;
}
@media screen and (max-width: 1439px) {
  .feedback__container {
    padding: 80px 40px;
  }
  .card-feedback__content {
    padding: 52px;
  }
  .card-feedback:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1024px) {
  .card-feedback__content {
    padding: 32px;
  }
}
@media screen and (max-width: 767px) {
  .feedback__container {
    padding: 50px 20px;
    display: block;
  }
  .card-feedback:not(:last-child) {
    margin-bottom: 40px;
  }
  .feedback__title {
    margin-bottom: 16px;
  }
}

/* --------------- PHOTO --------------- */

.photo__container {
  padding: 120px 72px;
}
.photo__title {
  margin-bottom: 24px;
}
.photo__gallery {
  margin-top: 64px;
}
.gallery__tags {
  margin-bottom: 40px;
  display: flex;
  gap: 24px;
}
.gallery__tag {
  padding: 12px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  border: 1px solid #5221e6;
  cursor: pointer;
}
.gallery__tag:hover {
  background-color: #5221e6;
}
.gallery__tag--active {
  background-color: #5221e6;
}
.gallery__images {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
  gap: 24px;
}
.gallery__images--active {
  display: grid;
}
.gallery__image-container {
  overflow: hidden;
}
.gallery__image-container img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
@media screen and (max-width: 1439px) {
  .photo__container {
    padding: 80px 40px;
  }
}
@media screen and (max-width: 767px) {
  .photo__container {
    padding: 50px 20px;
  }
  .gallery__tags {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}

/* --------------- CONTACT --------------- */

.contact {
  padding: 120px 0;
}
.contact__container {
  max-width: 1076px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 0 40px;
}
.contact__title {
  margin-bottom: 24px;
}
.form {
  display: flex;
  flex-direction: column;
}
.form button {
  color: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #5221e6;
  padding: 24px 36px;
  cursor: pointer;
}
.form__label {
  margin-bottom: 8px;
}
.contact__input {
  margin-bottom: 40px;
  background-color: #181823;
  min-height: 50px;
  padding-left: 10px;
  color: inherit;
}
.form textarea {
  padding: 10px;
  min-height: 100px;
}
@media screen and (max-width: 1439px) {
  .contact {
    padding: 80px 0;
  }
}
@media screen and (max-width: 767px) {
  .contact {
    padding: 48px 0;
  }
  .contact__container {
    padding: 0 20px;
    grid-template-columns: 1fr;
    gap: 48px;
  }
}

/* --------------- FOOTER --------------- */

.footer {
  padding: 80px 0;
  background-color: #181823;
}
.footer__container {
  padding: 0 72px;
  max-width: 1296px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  margin-bottom: 32px;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer__social-item {
  transition: transform 0.3s linear;
}
.footer__social-item:hover {
  transform: scale(1.5);
}
.footer__right {
  display: flex;
  flex: 0 1 392px;
  margin-bottom: 46px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  flex: 0 0 196px;
}
.footer__menu-item a {
  display: inline-block;
  line-height: 1.5;
  min-height: 48px;
}
.footer__menu-item a:hover {
  text-decoration: underline;
}
.footer__copy {
  color: #8491a0;
  line-height: 1.5;
}
@media screen and (max-width: 1439px) {
  .footer__container {
    padding: 0 40;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 48px 0;
    background-color: #181823;
  }
  .footer__container {
    padding: 0 20px;
  }
}
